Clean archive data

In [3]:
import pandas as pd
from tabula import read_pdf
import requests, bs4, time
import pandas as pd
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup as soup
from datetime import date
import pickle
import calendar

In [221]:
with open('C:/Users/lundr/economics/GDP_Forecasts/raw_data/all_data_archive.pkl','rb') as f:
    df_arc = pickle.load(f)

In [222]:
import numpy as np

def check_float(x):
    try:
        a = pd.to_numeric(x)
        if np.isnan(a):
            b = False
        else:
            b = isinstance(a,float)
    except:
        b = False
    return b

def check_star(x):
    try:
        if '*' in x:
            b = 1
        else:
            b=0
    except:
        b=0
    return b

def close_gaps(text):
    gaps = re.findall('[A-z]'+' '+'[a-z]', text)
    for g in gaps:
        ng = ''.join(g.split(' '))
        text = text.replace(g,ng)
    return text

In [223]:
df_arc.pop('July_1999', None)

{4: [Empty DataFrame
  Columns: [/LYHUSRRO 8QLY, -XO, F, G, H]
  Index: []],
 7: [Empty DataFrame
  Columns: [/LYHUSRRO 8QLY, -XO, F, G, H]
  Index: []]}

In [224]:
for k in df_arc:
    for n in df_arc[k].keys():
        for z in range(len(df_arc[k][n])):
            month = k.split('_')[0]
            year = k.split('_')[1]
            if n == np.min(list(df_arc[k].keys())):
                    add = 0
            else:
                    add = 1
            
            if month.capitalize() in calendar.month_name[2:13]:

                forecast_year = 'Forecast_{}'.format(pd.to_numeric(year)+add)
                df_arc[k][n][z]['yr_forecast'] = pd.to_numeric(year)+add
            
            else:
                forecast_year='Forecast_{}'.format(pd.to_numeric(year)+add-1)
                df_arc[k][n][z]['yr_forecast'] = pd.to_numeric(year)+add-1

            cols_ = list(df_arc[k][n][z].columns)
            cols_ = [cols_[-1]] + cols_[:-1]
            df_arc[k][n][z] = df_arc[k][n][z][cols_]


            for i in df_arc[k][n][z].columns[1:]:
                num = df_arc[k][n][z][i].map(lambda x : check_float(x)).sum()
                if num > 0:
                    df_arc[k][n][z].rename(columns = {i:forecast_year}, inplace = True)
                    break
                else:
                        pass

            cols = [col for col in  df_arc[k][n][z] if col.startswith('Forecast_')]
            df_arc[k][n][z]=df_arc[k][n][z].loc[:,:cols[0]].copy()

In [233]:
for k in df_arc:
    for n in df_arc[k].keys():
        for z in range(len(df_arc[k][n])):
            df_arc[k][n][z]['Forecaster_']=''
            df_arc[k][n][z]['Month_of_Forecast']=''
            df_arc[k][n][z]['forecast_publication']=k
            for col in df_arc[k][n][z].columns:
                # split months from forecasters
                if ('forecaster' in col.lower()) or ('city' in col.lower()) :
                    for i in range(df_arc[k][n][z].shape[0]):
                        for m in list(calendar.month_abbr[1:])+['M ar','J an','July','June']:
                            if m in str(df_arc[k][n][z][col][i]):
                                df_arc[k][n][z]['Forecaster_'][i] = df_arc[k][n][z][col][i].split(m)[0]
                                df_arc[k][n][z]['Month_of_Forecast'][i] = m                        
                            else:
                                df_arc[k][n][z]['Forecaster_'][i] = df_arc[k][n][z][col][i]
                              
                                
                if ('unnamed' in col.lower()) & any(x in list(df_arc[k][n][z][col]) for x in list(calendar.month_abbr)):
                     df_arc[k][n][z]['Month_of_Forecast'] = df_arc[k][n][z][col].copy()  
                for i in  range(df_arc[k][n][z]['Month_of_Forecast'].shape[0]):
                    df_arc[k][n][z]['Month_of_Forecast'][i] = str(df_arc[k][n][z]['Month_of_Forecast'][i]).replace('*','').replace(' ','')
                    if df_arc[k][n][z]['Month_of_Forecast'][i]=='nan':
                        df_arc[k][n][z]['Month_of_Forecast'][i]=np.nan

C:\Users\lundr\Miniconda3\envs\dsj\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\lundr\Miniconda3\envs\dsj\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [234]:
m_dict = {'':'',
 'Apr':'Apr',
 'Aug':'Aug',
 'Dec':'Dec',
 'Feb':'Feb',
 'Jan':'Jan',
 'Jul':'Jul',
 'July':'Jul',
 'Jun':'Jun',
 'June':'Jun',
 'Mar':'Mar',
 'May':'May',
 'NA':'',
 'Nov':'Nov',
 'Oct':'Oct',
 'Sep':'Sep',
 'Sept':'Sep',
 'madeinlast3months':'',
 'nan':''}

for k in df_arc.keys():
    for  n in df_arc[k].keys():
        for z in range(len(df_arc[k][n])):
            for i in range(df_arc[k][n][z].shape[0]):
                   df_arc[k][n][z]['Month_of_Forecast'][i]=m_dict[str(df_arc[k][n][z]['Month_of_Forecast'][i])]

                   
                           
                
                
#                 for x in list(calendar.month_abbr):
#     if x.lower() in str(df_arc[k][n][z]['Month_of_Forecast'][i]).lower():
#             df_arc[k][n][z]['Month_of_Forecast'][i] = x
#                df_arc[k][n][z] = df_arc[k][n][z].dropna(subset=df_arc[k][n][z].columns[2:],how='all').reset_index(drop=True)

C:\Users\lundr\Miniconda3\envs\dsj\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [235]:
for k in df_arc.keys():
    for  n in df_arc[k].keys():
        for z in range(len(df_arc[k][n])):
            df_arc[k][n][z]['yr_of_forecast'] = 0
            #df_all['mnth_of_forecast'] = 0
            m = k.split('_')[0]
            y = k.split('_')[1]
            for i in range(df_arc[k][n][z].shape[0]):
                try:
                    pos_m = list(calendar.month_name).index(m)
                    pos_M = list(calendar.month_abbr).index(df_arc[k][n][z]['Month_of_Forecast'][i])
                    if pos_M <= pos_m:
                        df_arc[k][n][z]['yr_of_forecast'][i] = y
                    else:
                        df_arc[k][n][z]['yr_of_forecast'][i] = int(y)-1
                except:
                    pass
            df_arc[k][n][z]['Forecaster_']=df_arc[k][n][z]['Forecaster_'].map(lambda x: close_gaps(str(x)))
            df_arc[k][n][z] = df_arc[k][n][z].dropna(subset=df_arc[k][n][z].columns[2:],how='all').reset_index(drop=True)
            col_select = [x for x in df_arc[k][n][z].columns if ('Forecast_' in x) or ('Forecaster_' in x) or ('Month_of_Forecast'in x) or ('forecast_publication'in x) or ('yr_of_forecast'in x) or ('yr_forecast' in x)]
            df_arc[k][n][z]= df_arc[k][n][z][col_select]

C:\Users\lundr\Miniconda3\envs\dsj\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [212]:
import re
k='March_2000'
n=5
z=0
i=4

df_arc[k][n][z]

,yr_forecast,Forecast_2000,Forecaster,Month_of_Forecast,forecast_publication,yr_of_forecast
0,2000,3.2,Abn Amro,Jan,March_2000,2000
1,2000,3.0,Barclays Bank,Mar,March_2000,2000
2,2000,3.0,Barclays Capital,Mar,March_2000,2000
3,2000,3.4,Charterhouse,Mar,March_2000,2000
4,2000,2.6,Chase Manhattan,Mar,March_2000,2000
5,2000,2.8,Credit Lyonnais,Mar,March_2000,2000
6,2000,2.8,Credit Suisse First Boston,Feb,March_2000,2000
7,2000,3.2,Daiwa Instituteof Research,Feb,March_2000,2000
8,2000,3.3,Deutsche Bank,Mar,March_2000,2000
9,2000,3.0,Dresdner Kleinwort Benson,Mar,March_2000,2000
10,2000,2.0,Economic Perspectives,Mar,March_2000,2000
11,2000,3.0,Goldman Sachs,Mar,March_2000,2000
12,2000,3.1,Greenwich Natwest,Mar,March_2000,2000
13,2000,3.2,Hermes,Mar,March_2000,2000
14,2000,3.0,HSBC Econ & Strategy,Feb,March_2000,2000
15,2000,3.2,J P Morgan,Feb,March_2000,2000
16,2000,3.4,Lehman Brothers,Mar,March_2000,2000
17,2000,3.1,Lombard St,Mar,March_2000,2000
18,2000,3.2,Merrill Lynch,Feb,March_2000,2000
19,2000,3.4,Morgan Stanley,Mar,March_2000,2000
20,2000,3.0,Natwest Group,Mar,March_2000,2000
21,2000,3.6,Salomon S Barney /Citibank,Mar,March_2000,2000
22,2000,3.6,Schroders,Mar,March_2000,2000
23,2000,3.0,S.G .,Jan,March_2000,2000
24,2000,3.4,Standard Chartered,Mar,March_2000,2000
25,2000,3.0,Warburg Dillon Read,Feb,March_2000,2000
26,2000,3.7,WestLB Panmure,Mar,March_2000,2000
27,2000,3.0,Williamsde Broe,Mar,March_2000,2000
28,2000,NaN,Non-Cityforecasters,,March_2000,2000
29,2000,3.2,BSL,Mar,March_2000,2000
30,2000,3.1,Cambridge Econ,Dec,March_2000,1999
31,2000,3.1,CBI,Feb,March_2000,2000
32,2000,2.6,CEBR,Jan,March_2000,2000
33,2000,2.9,DRI,Jan,March_2000,2000
34,2000,2.9,EIU,Jan,March_2000,2000
35,2000,2.8,Henley,Mar,March_2000,2000
36,2000,3.5,ITEM Club,Feb,March_2000,2000
37,2000,2.9,Liverpool Mecro Research,Mar,March_2000,2000
38,2000,3.1,NIES R,Jan,March_2000,2000
39,2000,3.3,OE F,Mar,March_2000,2000
40,2000,3.0,Primark WEF A,Dec,March_2000,1999
41,2000,3.4,EC,Dec,March_2000,1999
42,2000,2.7,OE CD,Dec,March_2000,1999
43,2000,2.2,IMF,Sep,March_2000,1999
44,2000,NaN,Averageof Forecastsmadeinlast 3 months,,March_2000,2000
45,2000,3.1,Independent,,March_2000,2000
46,2000,3.1,New (marked *),,March_2000,2000
47,2000,3.1,City,,March_2000,2000
48,2000,NaN,Rangeof Forecastsmadein last 3 months,,March_2000,2000
49,2000,NaN,nan,,March_2000,2000
50,2000,3.7,Highest,,March_2000,2000
51,2000,2.0,Lowest,,March_2000,2000

In [236]:
# concatenate all of the data frames
df_all = pd.DataFrame()
frames= [df_arc[k][n][z] for k in df_arc for n in df_arc[k].keys() for z in range(len(df_arc[k][n]))]
df_all = pd.concat(frames)
df_all.reset_index(drop=True, inplace=True)

In [237]:
df_all.columns

Index(['yr_forecast', 'Forecast_2010', 'Forecaster_', 'Month_of_Forecast',
       'forecast_publication', 'yr_of_forecast', 'Forecast_2011',
       'Forecast_2009', 'Forecast_2008', 'Forecast_2007', 'Forecast_2006',
       'Forecast_2005', 'Forecast_2004', 'Forecast_2003', 'Forecast_2002',
       'Forecast_2001', 'Forecast_2000', 'Forecast_1999', 'Forecast_1998',
       'Forecast_1997'],
      dtype='object')

In [238]:
screening_terms = ['(% of GDP)',
                   'Private consumption',
                   ' -',
                   'Domestic demand',
                   'GDP',
                   'Government consumption',
                   'Private Consumption',
                   'Total Exports',
                   'Fixed Investments',
                   'consumption',
                   'CPI (Q4)',
                   'Change in inventorie',
                   'contribution (% of ',
                   'potential GDP)',
                  'Total imports',
                   'Total exports',
                  'Fixed investment',
                   'potential )',
                   'M4 xIOFC Growth',
                   'Government ',
                   ' growth (ppt))',
                   '(ppt)' ,
                   'Net trade contribution',
                   ')',
                   '(£bn'
                  ]
for x in screening_terms: 
    for i in range(len(df_all['Forecaster_'])):
        df_all['Forecaster_'][i] = df_all['Forecaster_'][i].replace(x,'')
        df_all['Forecaster_'][i]=df_all['Forecaster_'][i].strip()

C:\Users\lundr\Miniconda3\envs\dsj\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\lundr\Miniconda3\envs\dsj\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [232]:
df_all.Forecaster_.unique()

array(['Bankof America Merrill Lynch', 'Barclays Capital', 'BNP Paribas',
       'Capital Economics', 'Citigroup', 'Commerzbank', 'Credit Suisse',
       'Daiwa Capital', 'Deutsche Bank', 'Goldman Sachs', 'nan', 'HSBC',
       'ING Financial', 'J P Morgan', 'Lombard Street', 'Morgan Stanley',
       'RBC Capital', 'RBS Global Banking &',
       'Schroders Investment Management', 'Societe Generale',
       'Standard Chartered Bank', 'UBS', 'Non-Cityforecasters',
       'British Chambersof Commerce', 'Beacon Economic Forecasting',
       'Cambridge Econometrics', 'CBI', 'CEBR', 'Economic Perspectives',
       'Experian Business Strategies', 'EIU', 'IHS Global Insight',
       'ITEM Club', 'Liverpool Macro Research', 'NIESR',
       'Oxford Economics', 'EC', 'OECD', 'IMF',
       'Averageofforecastsmadeinthelast 3 months', 'Independent',
       'New (marked *', 'City', 'Rangeofforecastsmadeinthelast 3 months',
       'Highest', 'Lowest', 'Median', 'HM Treasury',
       'Daiwa Securities SMBC', 'Daiwa Instituteof Research',
       'British Chamberof Commerce', 'Fortis Bank', 'Hermes',
       'Lloyds TSB', 'Bankof America', "Moody's Economy",
       'Dresdner Kleinwort Wasserstein', 'MacroEcon.com',
       'MacroEcon.com NA', 'Changeininventories RBS Global Banking &',
       'Ingenious Securities', 'Lehman Brothers', 'Fortis Bank NA',
       'FixedinvestmentJ P Morgan', 'Schroders Investment Management NA',
       'ABN AMRO', 'Global Insight', 'Credit Suisse First Boston',
       'J P Morgan NA', 'WestLB', 'RBS Financial', 'WestLB AG',
       "Moody's Economy.com", 'ConsumptionEconomic Perspectives',
       'Domestic DemandMorgan Stanley', 'Non-City Forecasters',
       'Averageof Forecastsmadeinthelast 3 months',
       'Rangeof Forecastsmadeinthelast 3 months', 'OEF', 'Bridgewell',
       'Private ConsumptionCredit Suisse First Boston', 'Williamsde Broe',
       'Total ExportsWilliamsde Broe', 'Economy.com',
       'Fixed InvestmentING Financial', '(£bnMacroEcon.com',
       'ConsumptionFortis Bank', '', '(£bnLombard Street',
       'Credit Lyonnais', 'RBSFM', 'ISIS Asset Managementplc',
       'ConsumptionHSBC', 'HSBC Economicsand Strategy',
       'Schroders Investment Managemen', 'UBS Warburg',
       'Changein ISIS Asset Managementplc', 'ISIS Asset Managementplc 1',
       '1Previously Friends, Ivory & Sime', 'Global Insight 2',
       '2Previously DRI-WEFA', 'Previously DRI-WEFA', 'Merrill Lynch',
       '2 Previously DRI-WEFA', 'Morgan Stanley Dean Witter', 'EBS',
       'Friends, Ivoryand Sime', 'Standard Chartered', 'DRI-WEFA',
       'Dresdner Kleinwort Wasser', 'Friends, Ivoryand Sime1',
       'HSBC Econ & Strategy', 'Lombard St', 'Cambridge Econ', 'EBS2',
       'Averageof Forecastsmadeinlast 3 months',
       'Rangeof Forecastsmadeinlast 3 months', 'Abn Amro', 'Schroders',
       'S.G.', 'Cityforecasters', 'Royal & Sun Alliance Invest', 'BSL',
       'Independent 1.7', 'New (marked * 1.7', 'City 1.7', 'Highest 2.2',
       'Lowest 0.4', 'Highest 2.4', 'Independent 1.9',
       'New (marked * 1.9', 'City 1.8', 'Highest 2.6', 'Charterhouse',
       'USB Warburg', 'Henley', 'Barclays Bank', 'Barclays  Bank',
       'Barclays  Capital Capital Economics', 'Citigroup Credit Lyonnais',
       'Daiwa Instituteof Research Deutsche Bank',
       'Dresdner  Kleinwort Benson', 'Economic Perspectives Fortis Bank',
       'Goldman  Sachs', 'Hermes  HSBC Econ & Strategy', 'Lombard  St',
       'Royal & Sun Alliance Investments', 'Standard  Chartered',
       'Warburg Dillon Read', 'WestLB Panmure', 'Williams  de Broe',
       'Non-City  forecasters', 'DRI',
       'Average  of Forecastsmadeinlast 3 months',
       'Rangeof  Forecastsmadeinlast 3 monthsHighest', 'Credit  Lyonnais',
       'Credit  Suisse First Boston', 'Daiwa  Instituteof Research',
       'Dresdner Kleinwort Benson 4.5', 'Fortis  Bank',
       'HSBC  Econ & Strategy', 'WestL B Panmure', 'Williams de Broe',
       'Henley 4.0', 'Primark WEFA', 'New ( marked *',
       'Range  of Forecastsmadeinlast 3 months',
       'Dresdner Kleinwort Benson', 'Chase Manhattan',
       'Salomon S Barney/Citibank', 'Consumption', 'Independent 2.6',
       'New (marked * 2.5', 'City 2.6', 'Highest 3.6', 'Lowest 0.7',
       'Natwest Group', 'Averageof Forecastmadeinlast 3 months',
       'Capital Economic', 'Independent 3.0', 'New (marked * 3.0',
       'City 2.9', 'Highest 3.3', 'Lowest 2.5', 'Greenwich Natwest',
       'Salomon S  Barney/Citibank', 'NIE SR',
       'Rangeof Forecastsmadeinlast 3  months',
       'Morgan Stanleydean Witter', 'Salomon S Barney /Citibank',
       'Daiwa Institute of  Research', 'Salomon S  Barney /Citibank',
       'S.G .', 'Warburg  Dillon Read', 'ITEM  Club',
       'Liverpool Mecro Research', 'NIES R', 'OE F', 'Primark WEF A',
       'OE CD', 'Averageof  Forecastsmade inlast  3 months',
       'Rangeo f Forecasts madein  last 3  months', 'Liverpool Univ',
       'Primark WE FA', 'Independent 1.8', 'New (marked * 1.8',
       'Highest 2.0', 'Lowest 1.4', 'C B I', 'C E B R', 'E IU',
       'I T E M  Club', 'O E F', 'Primark W E F A', 'E C', 'O E C D',
       'I M F', 'Norwich Union IM', 'B S L', 'Averageof Forecasts',
       'Norwich Union IM Feb 0.9', 'Independent 1.6', 'City 1.6',
       'J  P Morgan', 'Norwich Union IM Feb 2.8', 'CB I', 'NIE S R',
       'Abn Amro Jun 0.8', 'Barclays Capital Jul* 0.8',
       'Dresdner Kleinwort Benson Jul 1.1', 'Greenwich Natwest Jun 1.1',
       'HSBC Econ & Strategy Jul 1.0', 'Merrill Lynch Jul 1.2',
       'S.G. Jun 0.6', 'B S L Jun 0.8', 'Cambridge Econ Jun 0.7',
       'C E B R Jun 1.0', 'DRI Jun* 0.9', 'EIU Jul 0.8',
       'Henley Jul* 0.8', 'I T E M  Club Jul 0.8', 'NIE S R Jul* 1.2',
       'Primark WEFA Jun 0.8', 'Independent 1.1', 'New (marked * 1.2',
       'City 1.2', 'Lowest 0.5', 'HM Treasury Ma r 1-11⁄2',
       'Norwich Union IM Feb', 'HM Treasury Ma r', 'Abn Amro Ma r *',
       'Barclays Capital Ma r', 'Daiwa Instituteof Research Ma r *',
       'Dresdner Kleinwort Benson Ma r', 'Hermes Feb', 'S.G. Ma r',
       'Warburg Dillon Read Feb', 'WestLB Panmure Ma r', 'J  P  Morgan',
       'B SL', 'CBI Feb*', 'ITEM Club Jan', 'NIESR Jan', 'WEFA',
       'Chase Manhattan Feb', 'Daiwa Instituteof Research Feb*',
       'Deutsche Bank Feb', 'Economic Perspectives Feb',
       'HSBC Econ & Strategy Feb', 'Lehman Brothers Feb',
       'Schroders Feb*', 'Liverpool Univ Feb*', 'Abn Amro Ja n',
       'Barclays Bank Ma r *', 'Barclays Capital Ma r *',
       'Charterhouse Ma r *', 'Credit Lyonnais Ma r *',
       'Credit Suisse First Boston Ma r *',
       'Dresdner Kleinwort Benson Ma r *', 'Goldman Sachs Ma r *',
       'Greenwich Natwest Ma r *', 'J  P  Morgan Ma r *',
       'Lombard St Ma r *', 'Merrill Lynch Ma r *',
       'Morgan Stanley Ma r *', 'Natwest Group Ma r *',
       'Salomon S Barney /Citibank Ma r *', 'S.G. Ma r *',
       'WestLB Panmure Ma r *', 'Williamsde Broe Ma r *', 'B S L Ma r *',
       'C B I Feb*', 'C E B R Ja n', 'DRI Ma r *', 'E I U Ja n',
       'Henley Ma r *', 'ITEM Club Ja n', 'NIESR Ja n', 'O E F Ma r *',
       'W E F A Ja n', 'I M F Ma r *', 'Lowest 0.2', 'Nikko Europe',
       'Salomon Smith Barney', 'Independent 0.9', 'New (marked * 0.8',
       'City 0.8', 'Lowest0.5', 'Daiwa Europe Ltd/DIR',
       'Dresdner Kleinwort B', 'Panmure Gordon', 'Salomon Brothers',
       'LBS', 'W E F A', 'I M F Ja n 2.4', 'Independent 2.4', 'City 2.5',
       'Highest 2.7', 'Lowest 2.0', 'Societe Generale June',
       'Cambridge Econ June', 'DRI July', 'EIU June', 'NIESR July',
       'W EF A', 'OECD June', 'Credit Suisse First BostoSnept*',
       'Independent 2.2', 'New (marked * 2.2', 'City 2.2', 'Lowest 1.7',
       'Credit Suisse First BostoAnug*', 'New (marked * 2 .2',
       'Highest 2 .7', 'Lowest 1.6', 'Abn Amro July',
       'Credit Lyonnais July', 'Daiwa Europe Ltd/DIR June',
       'Deutsche Bank July', 'Dresdner Kleinwort B July',
       'Greenwich Natwest July', 'Schroders July', 'C E B R July',
       'Liverpool Univ July', 'S B C Warburg', 'Highest 3.1',
       'D M Grenfell', 'Independent 2 .2', 'Highest 3 .0', 'Lowest 1 .1',
       'Abn Amro Hoare Govett', 'James Capel', 'Natwest',
       'Independent 2.3', 'New (marked * 2.3', 'City 2.3', 'Highest 3.2',
       'Lowest 1.5', 'City 2.4', 'BZW', 'Independent 3.4',
       'New (marked * 3.4', 'City 3.5', 'Highest 4.2', 'Lowest 3.0'],
      dtype=object)

In [242]:
text = 'Highest 3 .0' 
dig = re.findall("\d+\.\d+", text)
dig

[]

In [ ]:
def close_gaps(text):
    gaps = re.findall('[A-z]'+' '+'[a-z]', text)
    for g in gaps:
        ng = ''.join(g.split(' '))
        text = text.replace(g,ng)
    return text
21`4312Q`2` asdef close_gaps(text):
    gaps = re.findall('[A-z]'+' '+'[a-z]', text)
    for g in gaps:
        ng = ''.join(g.split(' '))
        text = text.replace(g,ng)
    return text